<div class="chatbox">
  
  <div class="chatbox-header">
    <div class="chatbox-header-menu"></div>
    <div class="chatbox-header-nome">Hiran Habiff</div>
    <div class="chatbox-header-min"></div>
    <div class="chatbox-header-fechar"></div>
  </div>

  <div class="chatbox-body">
    <div class="chatbox-conteudo">
		
      <div class="chatbox-conversa-l">
        <div class="chatbox-conversa-foto">
          <img src="http://www.pedal.com.br/forum/uploads/7488/Pabloxtz_perfil03.jpg" width="48px">
        </div>
        <div class="chatbox-conversa-conteudo">
          <div class="chatbox-conversa-data"> 21/05/2015 as 12:43 </div>    
          <div class="chatbox-conversa-texto"> hasfdh asd asgd dqgw d qwdo uy qywd qwdqw dqwyd qfd qw dqwy dqwydfqwy dfqdfyw dli1h p´í ´98y 9y </div>    
        </div>
      </div>


      <div class="chatbox-conversa-r">
        <div class="chatbox-conversa-foto">
          <img src="http://www.oocities.org/corpos_belos/sergio_perfil4.jpg" width="48px">
        </div>
        <div class="chatbox-conversa-conteudo">
          <div class="chatbox-conversa-data"> 21/05/2015 as 12:43 </div>    
          <div class="chatbox-conversa-texto"> hasfdh asd asgd dqgw d qwdo uy qywd qwdqw dqwyd qfd qw dqwy dqwydfqwy dfqdfyw dli1h p´í ´98y 9y </div>    
        </div>
      </div>




  	</div>  

    <div class="chatbox-ferramentas">
    	<div class="chatbox-ferramentas-option"></div>
    	<div class="chatbox-ferramentas-option"></div>
    	<div class="chatbox-ferramentas-option"></div>
    </div>  
   
    <div class="chatbox-footer">
      <textarea ignoreesc="true"></textarea>
    </div>  
    
  </div>  
  
</div>

<div class="cb-l-c">

	<a href="" class="cb-l-c-c" data-id="">
			
	</a>


</div>






<style>

:root {	
    --default: #31708f; /*#*/
    --font-family: "trebuchet MS"; /*#*/
    --font-size: 12px; 
}
*{
	margin: 0;
	padding: 0;
}






/* lista de contatos*/
.cb-l-c{
	width: 200px;
	height: 100%;
	border-left: 1px solid var(--default);
	position: absolute;
	top: 0;
	right: 0;
}
.cb-l-c-c{

}


/* chatboxes */

.chatbox{
	width:240px;
	font-size: var(--font-size);
	font-weight: normal;
	font-family: var(--font-family);
	position: absolute;
	bottom: 0;
	right: 250;
	box-shadow: 0px 0px 3px #999;
}
.chatbox-hidde .chatbox-body{
	display: none;
}
.chatbox-header{
	width:230px;
	height:30px;
	background: var(--default);
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
}
.chatbox-header-menu{
	width:20px;
	height:20px;
	padding:2px;
	background:#ccc;
	float:left;
}
.chatbox-header-nome{
	width:124px;
	height:20px;
	padding:2px;
	float:left;
	margin-left:10px;
	font-size:14px;
	color:#FFF;
}
.chatbox-header-min{
	width:20px;
	height:20px;
	padding:2px;
	background:#ccc;
	float:left;
	margin-left:10px;
}
.chatbox-header-fechar{
	width:20px;
	height:20px;
	padding:2px;
	background:#ccc;
	float:left;
	margin-left:10px;
}
.chatbox-body{
	width:240px;
	height:350px;
	background:#E5E5E5;
	padding:0px;
}

.chatbox-conteudo{
	width:234px;
	height:262px;
	padding:3px;
}

.chatbox-conversa-l{
	width:230px;
	height: auto;
	padding-bottom: 5px;
	position: relative;
	margin-bottom: 10px;
}

.chatbox-conversa-l .chatbox-conversa-foto{
	position: absolute;
	left: 0px;
	top: 0px;
}

.chatbox-conversa-l .chatbox-conversa-foto::after {
  border-bottom: 15px solid #000;
  border-left: 15px solid transparent;
  border-top: 15px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
}

.chatbox-conversa-l .chatbox-conversa-data{
	position: relative;
	text-align: right;
	padding-right: 5px;
	left: 48px;	
}


.chatbox-conversa-l .chatbox-conversa-texto{
	position: relative;
	left: 48px;
	text-align: left;
	padding: 10px;
	box-shadow: 1px 1px 2px #999;
}


.chatbox-conversa-r{
	width:230px;
	height: auto;
	padding-bottom: 5px;
	position: relative;
}

.chatbox-conversa-r .chatbox-conversa-foto{
	position: absolute;
	right: 0px;
	top: 0px;
}

.chatbox-conversa-r .chatbox-conversa-foto::after {
  background: transparent;
  border-bottom: 13px solid #000;
  border-right: 13px solid transparent;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
}


.chatbox-conversa-r .chatbox-conversa-data{
	position: relative;
	text-align: left;
	padding-left: 5px;
	right: 0px;	

}


.chatbox-conversa-r .chatbox-conversa-texto{
	position: relative;
	right: 0px;
	text-align: right;
	padding: 10px;
	box-shadow: -1px 1px 2px #999;	
}





.chatbox-conversa-foto{
	width: 48px;
	height: auto;
	overflow: hidden;
}

.chatbox-conversa-data{
	width: 177px;
/*	background: #3cc;*/
	font-size: 10px;
	color: #999;
}

.chatbox-conversa-texto{
	width: 162px;
	border: 0px solid var(--default);
	background: #fff;
}






.chatbox-ferramentas{
	width:240px;
	height:26px;
	padding-top:3px;
	padding-bottom:3px;
	background: var(--default);
}
.chatbox-ferramentas-option{
	width: 26px;
	height: 26px;
	background: #fff;
	margin-left: 2px;
	margin-right: 2px;
	float: left;
}


.chatbox-footer{
	width:240px;
	height:50px;
}
.chatbox-footer textarea{
 	width:240px;
 	height:50px;
	resize:none; 
	margin-top: 0px;
	padding: 5px;
}

</style>






